
@{
    ViewBag.Title = "Member";
}

<h2>Member page</h2>
<form action="~/Account/Save" method="post">
    Name:<input type="text" name="userName" value="@User.Identity.Name" />
    <input type="submit" name="name" value="Save" />    
</form>
